@model IEnumerable<Packaging>
@{
    ViewData["Title"] = "Index";
}

<div class = "container p-3">
    <div class= "row pt-4">
        <div class = "col-6">
             <h2 class="text-primary"> Packaging Type </h2>
        </div>
        <div class = "col-6 text-end">
            <a asp-controller= "Packaging" asp-action = "Create" class="btn btn-primary"> 
                <i class="bi bi-plus-circle"></i> &nbsp;
                Create New Packaging Type </a>
        </div>
    </div>
</div>

<br />


<table class = "table-bordered table-striped" style="width:100%">
    <thread>
        <tr>
            <th>
            Packaging Type
            </th>
            <th></th>
        </tr>
    </thread>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.Name
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Packaging" asp-action= "Edit" asp-route-id ="@obj.Id"
                        class= "btn btn-primary mx-2"><i class= "bg-i bi-pencil-square"></i>Edit</a>
                        <a asp-controller="Packaging" asp-action= "Delete" asp-route-id ="@obj.Id"
                        class= "btn btn-danger mx-2"><i class= "bg-i bi-trash"></i>Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
